.hystmodal__window--form{
    width: 440px;
    max-width: 100%;
    background: linear-gradient(216.25deg, #FFFFFF 0%, #F3F3F3 100%), #FCFCFC;
    box-shadow: 0px 0px 6px rgba(51, 66, 94, 0.5);
    padding: 7rem 9rem;
}
.loginblock__h1{
    margin-bottom: 30px;
    color: #2E3C56;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
}
.loginblock__h2{
    margin-top: 4px;
    color: #8F99AA;
    font-size: 14px;
    line-height: 21px;
}
.loginblock__form{
    padding-top: 36px;
}
.formitem{
    padding-bottom: 24px;
    position: relative;
}
.formitem input{
    outline: none;
    background: #FFFFFF;
    box-shadow: inset 0 0 0 100px #fff;
    border: 1px solid #DDE0E6;
    box-sizing: border-box;
    color: #484c53;
    font-size: 15px;
    line-height: 26px;
    padding: 15px 20px;
    box-sizing: border-box;
    display: block;
    width: 100%;
}
.formitem input:focus{
    border-color:#9d9fa3;
}
.loginblock__bottom{
    justify-content: space-between;
    padding-bottom: 24px;
}
.formcheckbox{
    position: relative;
    display: block;
    cursor: pointer;
}
.formcheckbox input{
    position: absolute;
    /* visibility: hidden; */
    top:0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}
.formcheckbox:focus-within{
    outline: 2px dotted #afb3b9;
    outline-offset:2px;
}
.formcheckbox input+span{
    height: 21px;
    color: #8F99AA;
    font-size: 12px;
    line-height: 21px;
    position: relative;
    align-items: center;
    user-select: none;
}
.formcheckbox input:checked + span{
    color: #2E3C56;
}
.checkplace{
    display: flex;
    background: #FFFFFF;
    border: 1px solid #DDE0E6;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    margin-right: 1rem;
}
.checkplace img{
    display: block;
    max-width: 90%;
    max-height: 95%;
    margin: auto;
    opacity: 0;
}
.formcheckbox input:checked + span .checkplace{
    border-color:#9d9fa3;
}
.formcheckbox input:checked + span .checkplace img{
    opacity: 1;
}
.loginblock__link{
    display: block;
    color:#2E3C56;
    font-size: 12px;
    line-height: 21px;
}
.formsubmit{
}
.formsubmit .button{
    width: 100%;
    height: 56px;
    font-weight: 500;
}