*{
	margin: 0;
	padding: 0;
	list-style: none;
    font-style: normal;
}
.hide{
    display: none;
}
input[type=submit],
button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.button{
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 15px 2px;
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    box-sizing: border-box;
    cursor: pointer;
    border:none;
    position: relative;

    background: none;
    border:1px solid #000;
    color: #000;
}
.button:hover{
    background-color: #000;
    color:#fff;
}
.button:active{
    top:1px;
}
.button:disabled{
    background: #ddd;
    border-color:#d5d5d5;
    color:#fff;
}

.flexi{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}