{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "ie": "11"
                }
            }
        ]
    ],
    
    "plugins": [
        "@babel/plugin-transform-object-assign",
        "@babel/plugin-proposal-class-properties"
        // "@babel/plugin-proposal-private-methods"
    ]
}