{
  "env": {
    "browser": true,
    "es2021": true
  },
  "ignorePatterns": ["dist/*", "vite.config.js"],
  "extends": [
    "airbnb/base",
    "airbnb-typescript/base"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "linebreak-style": 0
  }
}
