{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "env": {
    "browser": true
  },
  "extends": ["eslint-config-airbnb-base"],
  "rules": {
    "linebreak-style": 0
  }
}
