.hystmodal--simple .hystmodal__window{
    position: relative;
    overflow: visible;
    border-radius: 4px;
    padding: 30px 30px;
}
*:focus {
    outline: 2px dotted #afb3b9;
    outline-offset:2px;
}
